# Node
node_modules/
npm-debug.log*
yarn.lock
pnpm-lock.yaml

# Ambiente
.env
.env.*


# Banco
data/
*.sqlite
*.db

# Ollama / IA local
.ollama/
ollama/

# Logs
logs/
*.log

# Sistema
.DS_Store
Thumbs.db

# Build
dist/
build/
